/* resets
---------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* layout & styles
------------------------------------------*/
:root {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}
body {
    width: 100%;
    height: 100vh;
}
.container {
    width: 1240px;
    height: 100%;
    margin: auto;
}
/* text block
-----------------------------------------*/

.text-block {
    text-align: center;
    padding:50px 0 100px 0; 
    color: var(--very-dark-blue);
}
.heading {
    font-size: 3rem;
    font-weight: 200;
}
.powered {
    font-size: 3rem;
    font-weight: 700;
    margin: 20px 0 50px 0;
}
.info {
    width: 750px;
    margin: auto;
    font-size: 1.5rem;
    color: var(--grayish-blue);
    line-height: 2rem;
}
/* info cards
----------------------------------------*/
.info-cards {
    margin-bottom: 200px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(22, 25px);
}
.red-box {
    border-top: 4px solid var(--red);
    grid-area: 1/2/11/3;
}
.cyan-box {
    border-top: 4px solid var(--cyan);
    grid-area: 7/1/17/2;
}
.orange-box {
    border-top: 4px solid var(--orange);
    grid-area: 13/2/23/3;
}
.blue-box {
    border-top: 4px solid var(--blue);
    grid-area: 7/3/17/4;
}
.card {
    width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: 5px 10px 10px lightgray, -5px 10px 10px lightgrey;
    padding: 30px 30px;
}
.card-heading {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--very-dark-blue);
}
.card-description {
    margin: 20px 0 30px 0;
    color: var(--grayish-blue);
    font-size: 0.85rem;
    line-height: 1.6rem;
}
.card-img {
    align-self: flex-end;
}